.root {
    flex-grow: 1;
    max-width: 752;
}

.controls {
    justify-content: space-between;
    padding: 10px;
}

.lists {
    padding: 10px;
}

.listTitle {
    
}

.card {
    background-color: #fafafa;
}

.login {
    display: flex;
    flex-direction: column;
    max-width: 350px;
}

.loginItem {
    margin: 5px !important;
}